html {
  box-sizing: border-box;
}

html, body {
  color: #aaaeb2;
  background-color: #212a31;
}

body {
  font-family: Arial, sans-serif;
}

html, body, header, main, footer, h1 {
  margin: 0;
  padding: 0;
}

header, h1, main {
  text-align: center;
}

header {
  min-height: 290px;
}

header > img {
  margin: 2px auto;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  color: #fff;
}

.feed {
  display: block;
  width: 150px;
  box-sizing: border-box;
  margin: 0.5rem auto;
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  border-radius: 0.5rem;
  box-shadow: 0px 6px 0px #d35400;
  outline: none;
  cursor: pointer;
}

.feed:active {
  transform: translateY(0.125rem);
  box-shadow: 0 0.125rem #6c0f37;
}

.feed:disabled {
  transform: translateY(0.125rem);
  box-shadow: 0 0.125rem #6c0f37;
  opacity: 0.65;
  cursor: not-allowed;
}

#cam {
  margin-top: 40px;
}

#panel {
  position: relative;
  margin: -160px auto auto auto;
  max-width: 780px;
  min-height: 320px;
  background-color: #6495ED;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}
